@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";
@theme {
	--font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
	--font-apple-system: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--color-body-text: #45426e;
	--color-primary: #3a30ba;
	--color-hover: #12126e;
	--color-floral-white: #fff9f3;
	--color-bleach-white: #fcf2de;
	--color-sapphire-10: #080a471a;
	--color-romance-70: #de238e12;
	--color-black-squeeze: #f1faf7;
	--color-black-pearl: #030521;
	--color-blue-chalk: #eeebfa;
	--color-white-10: rgba(255, 255, 255, 0.1);
	--color-white-80: rgba(255, 255, 255, 0.8);
	--linear-base: 130deg, rgba(155, 144, 196, 0.1) 0%,
		rgba(62, 67, 127, 0.2) 100%;
	--spacing-5px: 0.313rem;
	--spacing-7px: 0.438rem;
	--spacing-9px: 0.563rem;
	--spacing-14px: 0.875rem;
	--spacing-15px: 0.938rem;
	--spacing-18px: 1.125rem;
	--spacing-25px: 1.563rem;
	--spacing-27px: 1.688rem;
	--spacing-30px: 1.875rem;
	--spacing-35px: 2.188rem;
	--spacing-50px: 3.125rem;
	--spacing-60px: 3.75rem;
	--spacing-90px: 5.625rem;
	--spacing-100px: 6.25rem;
	--spacing-120px: 7.5rem;
	--spacing-150px: 9.375rem;
	--radius-5px: 0.313rem;
	--radius-26px: 1.625rem;
}
@layer base {
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-[#17134a] font-bold font-bricolage-grotesque;
	}
	.h1,
	h1 {
		@apply text-[2.625rem] md:text-[4.5rem] leading-none -tracking-[0.094rem];
	}
	.h2,
	h2 {
		@apply text-[3.75rem] leading-none -tracking-[0.063rem];
	}
	.h3,
	h3 {
		@apply text-[3.125rem] leading-none -tracking-[0.031rem];
	}
	.h6,
	h6 {
		@apply text-xl leading-[1.4] font-semibold font-apple-system;
	}
}
@layer utilities {
	.container {
		@apply sm:w-[46.875rem] md:w-[62.5rem] lg:w-[71.25rem] xl:w-[73.125rem]  mx-auto px-[0.938rem];
	}
}
@layer components {
	.btn {
		@apply py-4 px-8 rounded-5px text-xl leading-normal font-normal transition delay-0 duration-300 ease-in cursor-pointer inline-flex gap-7px items-center;
	}
	.btn-primary {
		@apply bg-primary text-white hover:bg-hover;
	}
}
